# ===== Java / Spring =====
*.class
*.log
*.tmp
target/

# ===== H2 Database =====
*.mv.db
*.trace.db

# ===== IDE =====
.idea/
.vscode/
*.iml

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Node / React =====
node_modules/
dist/
